body {
  background-color: #9b363a;
  overflow-x: hidden;
}

header {
  padding: 10px 25px;
  background-color: #9b363a;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

nav {
  align-self: center;
}

footer {
  padding: 10px 25px;
  background-color: #9b363a;
  width: 100%;
}

h2 {
  margin: 0;
  color: rgb(224, 222, 218);
}

p {
  font-size: 18px;
  color: rgb(224, 222, 218);
}

form h2 {
  font-size: 26px;
}

h2 span {
  font-size: 19px;
}

.logo {
  width: 25%;
  display: inline;
}

.nav-items {
  color: rgb(224, 222, 218);
  text-decoration: none;
  font-size: 16px;
  margin: 0 4px;
  text-transform: uppercase;
  display: none;
}

.show {
  display: inline;
}

.nav-expander {
  font-size: 20px;
  color: rgb(224, 222, 218);
  margin: 0 8px;
  display: inline;
}

.closed {
  transform: rotate(-90deg);
}

.info {
  color: #fccb58;
}

.main-article {
  background-image: linear-gradient(#f3bf83, #9b363a);
  padding: 25px 25px 0px 25px;
}

.main-img {
  width: 100%;
}

.form-article {
  margin: 0 25px;
  border: solid 2px #fccb58;
  border-radius: 3px;
  text-align: center;
  padding: 5px;
}
