/* Fonts */
.raleway {
  font-family: 'Raleway', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

/* Regular CSS */

* {
  box-sizing: border-box;
}

body {
  background-color: #9b363a;
  overflow-x: hidden;
}

header {
  padding: 10px 25px;
  background-color: #9b363a;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 1;
}

nav {
  align-self: center;
}

footer {
  background-color: #ffe68f;
  width: 100%;
  color: white;
  padding: 5px 25px;
}

footer div {
  width: 100%;
  text-align: center;
}

footer p {
  margin: 0;
  color: #9b363a;
}

label {
  font-size: 19px;
}

input {
  margin: 5px 0;
  width: 100%;
  height: 2em;
  border-radius: 6px;
  border: none;
  padding: 10px;
}

input[type='submit'] {
  width: 50%;
  margin-top: 10px;
  margin-left: 50%;
  background-color: white;
  cursor: pointer;
}

form {
  text-align: start;
  margin: 3px;
}

article h3 {
  margin: 45px 25px;
  color: #ffe68f;
  font-size: 25px;
  text-transform: uppercase;
}

.logo {
  width: 25%;
  display: inline;
}

nav div {
  display: inline-block;
}

.nav-items {
  color: #e0deda;
  text-decoration: none;
  font-size: 16px;
  margin: 0 4px;
  text-transform: uppercase;
  display: none;
}

.show {
  display: inline;
}

.nav-expander {
  font-size: 20px;
  color: #e0deda;
  margin: 0 8px;
  display: inline;
}

.main-article {
  background-image: linear-gradient(#f3bf83, #9b363a);
  padding: 15% 25px 0px 25px;
  height: 100vh;
}

.main-img {
  width: 185%;
  opacity: 0.4;
  margin-left: -40%;
}

.img-section {
  width: 45%;
  float: left;
}

.form-article {
  padding: 45px 25px;
  background-color: #f3bf83;
  text-align: center;
}

.form-article h2 {
  font-size: 26px;
  margin: 0;
}

.main-text {
  color: #e7e7e7;
}

.main-text h2 {
  font-size: 26px;
}

.main-text p {
  font-size: 21px;
}

.secondary-img {
  width: 100%;
  height: 25vh;
  overflow: hidden;
  margin-top: 20%;
}

.secondary-img img {
  max-width: 100%;
}

.comments-article {
  text-align: center;
}

.comments-text {
  padding: 10px 14px;
  background-image: url('https://previews.123rf.com/images/teploleta/teploleta1507/teploleta150700283/42280479-hand-drawn-bakery-seamless-pattern-background-.jpg');
  background-size: 100%;
}

.comment-container {
  padding: 25px 25px;
  display: flex;
  align-items: center;
}

.commenter-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.commenter-pic img {
  width: 100%;
}

.comment {
  background-color: #ffe68f;
  margin: auto;
  padding: 10px;
  border-radius: 4px;
  width: 55%;
}

.comment p {
  margin: 0;
  font-size: 1em;
  color: rgb(128, 128, 128);
  line-height: 1.5em;
}

.comment b {
  font-size: 1.3em;
  color: black;
}

.reverse {
  flex-direction: row-reverse;
}

.social-media {
  display: flex;
  padding: 0 25px;
  justify-content: space-around;
  flex-flow: row wrap;
}

.social-media:nth-of-type(2) {
  margin: 25px 0 45px 0;
}

.social-media div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #ffe68f;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffe68f;
}

.social-media div:hover {
  width: 70px;
  height: 70px;
}

.social-media i {
  color: #ffe68f;
  font-size: 40px;
}

.contact address {
  margin: 0 25px 45px 25px;
  color: #ffe68f;
}

.arrow {
  display: none;
}

.buttons {
  display: flex;
}

.call-button {
  display: none;
}

/* Media Queries */

/* Bigger than regular phones, smaller than tablets */
@media screen and (min-width: 540px) {
  .main-text h2 {
    font-size: 2.5em;
    margin: 0;
  }

  .main-text p {
    font-size: 1.4em;
  }

  .secondary-img {
    margin-top: 0;
  }

  .form-article h2 {
    font-size: 1.8em;
  }

  .social-media {
    padding: 0 100px;
  }
}

/* Tablets and likewise devices */
@media screen and (min-width: 760px) and (min-height: 1000px) {
  .main-article {
    padding: 10% 25px 0px 25px;
  }

  .logo {
    width: 18%;
  }

  .nav-items {
    font-size: 1.4em;
  }

  .img-section {
    width: 60%;
  }

  .main-img {
    width: 180%;
  }

  .main-text h2 {
    font-size: 3em;
    margin: default;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
  }

  .main-text p {
    font-size: 2em;
  }

  .form-article h2 {
    font-size: 2.4em;
  }

  label {
    font-size: 2em;
  }

  input {
    padding: 5px;
    font-size: 2em;
  }

  .comments-article h3 {
    font-size: 2.4em;
  }

  .commenter-pic {
    width: 150px;
    height: 150px;
  }

  .comment p {
    font-size: 25px;
  }

  .contact h3 {
    font-size: 2.2em;
  }

  address {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 880px) {
  header {
    padding: 10px 150px;
  }

  footer {
    padding: 5px 150px;
  }

  article h3 {
    font-size: 2em;
  }

  .logo {
    width: 100px;
  }

  .nav-items {
    display: inline;
    margin: 0 1.3em;
    transition: ease 0.3s;
  }

  .nav-items:hover {
    font-weight: 600;
  }

  .nav-expander {
    display: none;
  }

  .main-article {
    padding: 15vh 150px 0 150px;
    margin-bottom: 50px;
  }

  .img-section {
    max-width: 40%;
  }

  .main-img {
    margin-left: -45%;
  }

  .main-text {
    text-align: center;
  }

  .main-text h2 {
    font-size: 4em;
  }

  .main-text p {
    font-size: 1.5em;
  }

  .main-text p:first-of-type {
    margin-top: 2em;
  }

  .main-text p:last-of-type {
    margin-bottom: 2.3em;
  }

  .secondary-img {
    display: none;
  }

  .comments-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    height: 50vh;
  }

  .comment-container {
    width: 40%;
    display: none;
  }

  .comment-container:nth-of-type(2) {
    flex-direction: row;
  }

  .arrow {
    display: inline;
    font-size: 2.8em;
    color: black;
    cursor: pointer;
  }

  .social-media {
    display: inline-flex;
    width: calc(50% - 2px);
    padding: 0;
  }

  .social-media:nth-of-type(2) {
    margin: 0;
  }

  .contact address {
    margin: 45px 25px 45px 25px;
  }

  .show {
    display: inline-flex;
  }

  .uniter {
    display: flex;
    padding: 50px 150px;
    align-items: center;
  }

  .contact,
  .form-article {
    flex-basis: 0;
    flex-grow: 1;
  }

  .form-article {
    border-radius: 5px;
  }

  .call-button {
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 1em;
    font-weight: 600;
    height: 4.5em;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    transition: ease 0.3s;
  }

  .call-button:first-of-type {
    background: #7f191d;
    color: #ffe68f;
  }

  .call-button:first-of-type:hover {
    background: #ffe68f;
    color: #7f191d;
  }

  .call-button:last-of-type {
    background: #ffe68f;
    color: #7f191d;
  }

  .call-button:last-of-type:hover {
    background: #7f191d;
    color: #ffe68f;
  }
}
