body {
  background-color: #9b363a;
  overflow-x: hidden;
}

header {
  padding: 10px 25px;
  background-color: #9b363a;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

nav {
  align-self: center;
}

footer {
  padding: 10px 25px;
  background-color: #9b363a;
  width: 100%;
  margin-top: 5px;
}

label {
  font-size: 19px;
}

input {
  margin: 5px 0;
  width: 100%;
  height: 1.5em;
  border-radius: 6px;
  padding-left: 5px;
}

input[type='submit'] {
  width: 50%;
  margin-top: 10px;
  margin-left: 50%;
  background-color: white;
  height: 2em;
}

form {
  text-align: start;
  margin: 3px;
}

article h3 {
  margin: 45px 25px;
  color: #ffe68f;
  font-size: 25px;
  text-transform: uppercase;
}

.logo {
  width: 25%;
  display: inline;
}

.nav-items {
  color: #e0deda;
  text-decoration: none;
  font-size: 16px;
  margin: 0 4px;
  text-transform: uppercase;
  display: none;
}

.show {
  display: inline;
}

.nav-expander {
  font-size: 20px;
  color: #e0deda;
  margin: 0 8px;
  display: inline;
}

.closed {
  transform: rotate(-90deg);
}

.info {
  color: #fccb58;
}

.main-article {
  background-image: linear-gradient(#f3bf83, #9b363a);
  padding: 25px 25px 0px 25px;
  height: 100vh;
}

.main-img {
  width: 180%;
  opacity: 0.4;
  margin-left: -40%;
}

.img-section {
  width: 45%;
  float: left;
}

.form-article {
  padding: 45px 25px;
  background-color: #f3bf83;
  text-align: center;
}

.form-article h2 {
  font-size: 26px;
  margin: 0;
}

.main-text {
  color: #e7e7e7;
}

.main-text h2 {
  font-size: 26px;
}

.main-text p {
  font-size: 21px;
}

.secondary-img {
  width: 100%;
  height: 25vh;
  overflow: hidden;
  margin-top: 25%;
}

.secondary-img img {
  max-width: 100%;
}

.comments-article {
  text-align: center;
}

.comments-text {
  padding: 10px 14px;
  background-image: url('https://previews.123rf.com/images/teploleta/teploleta1507/teploleta150700283/42280479-hand-drawn-bakery-seamless-pattern-background-.jpg');
  background-size: 100%;
}

.comment-container {
  padding: 25px 25px;
  display: flex;
  align-items: center;
}

.commenter-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.commenter-pic img {
  width: 100%;
}

.comment {
  background-color: #ffe68f;
  margin: auto;
  padding: 10px;
  border-radius: 4px;
  width: 55%;
}

.comment p {
  margin: 0;
  font-size: 20px;
  color: rgb(128, 128, 128);
}

.comment b {
  text-transform: uppercase;
  color: black;
}

.reverse {
  flex-direction: row-reverse;
}

.social-media {
  display: flex;
  padding: 0 25px;
  justify-content: space-around;
  flex-flow: row wrap;
}

.social-media:nth-of-type(2) {
  margin: 25px 0 45px 0;
}

.social-media div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid #ffe68f;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media i {
  color: #ffe68f;
  font-size: 40px;
}
